In [1]:
import numpy as np
import pandas as pd

In [13]:
minus_2 = pd.read_csv('/Users/raullopez/Desktop/CitaShell/CitaShell_Prosperity/Raul_Testing/Round1_EDA/round-1-island-data-bottle/prices_round_1_day_-2.csv', sep=';')
minus_1 = pd.read_csv('/Users/raullopez/Desktop/CitaShell/CitaShell_Prosperity/Raul_Testing/Round1_EDA/round-1-island-data-bottle/prices_round_1_day_-1.csv', sep=';')
minus_0 = pd.read_csv('/Users/raullopez/Desktop/CitaShell/CitaShell_Prosperity/Raul_Testing/Round1_EDA/round-1-island-data-bottle/prices_round_1_day_0.csv', sep=';')

# Print data
minus_2.head()
minus_1.head()
minus_0.head()

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,0,0,AMETHYSTS,9998,1,9995.0,30.0,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10001.5,0.0
1,0,0,STARFRUIT,5036,30,NaN,NaN,NaN,NaN,5043,30,NaN,NaN,NaN,NaN,5039.5,0.0
2,0,100,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10002,6,10004.0,1.0,10005.0,30.0,9999.0,0.0
3,0,100,STARFRUIT,5041,4,5037.0,1.0,5036.0,30.0,5043,31,NaN,NaN,NaN,NaN,5042.0,0.0
4,0,200,AMETHYSTS,9996,1,9995.0,21.0,NaN,NaN,10004,1,10005.0,21.0,NaN,NaN,10000.0,0.0

In [7]:
#day_minus_1.info()

In [14]:
# Change all NaN values to 0
minus_2.fillna(0, inplace=True)
minus_1.fillna(0, inplace=True)
minus_0.fillna(0, inplace=True)
# pd.isna(df).any()

In [15]:
#day_minus_1.info()
minus_2.drop('profit_and_loss', axis=1, inplace=True)
minus_1.drop('profit_and_loss', axis=1, inplace=True)
minus_0.drop('profit_and_loss', axis=1, inplace=True)